.statsWrapper {
  border-collapse: separate;
  border-color: #CECECE;
  border-width: 2px;
  border-style: dashed;
  min-width: 200px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2rem;
  margin-bottom: 1rem;
}

.statContainer {
  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 67px;
  text-align: center;
  color: #ffffff;
}

.statTitle {
  font-family: Manrope;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  .statsWrapper {
    flex: 0.5;
    margin: 0px 10px 10px 0px;
  }
}

@media screen and (max-width: 500px) {
  .statsWrapper {
    min-width: 400px;
  }
}