.aboutusContainer {
  /* background-color: antiquewhite; */
  padding: 0px 20px 0px 70px;
  display: flex;
  margin-top: 30px;
  flex-direction: column;
}

.headers {
  font-weight: 800;
  font-size: 24rem;
  line-height: 26rem;
  letter-spacing: -0.065em;
  color: #3B5C90;
}

.aboutusContent {
  margin-top: 1rem;
  column-count: 2;
  column-gap: 2rem;
}

.ourvaluesContainer {
  margin-top: 2rem;
}