.container {
  /* background-color: antiquewhite; */
  padding: 0px 20px 200px 40px;
  display: flex;
  margin-top: 30px;
  flex-direction: row;

}

.headers {
  font-weight: 800;
  font-size: 24px;
  line-height: 26px;
  letter-spacing: -0.065px;
  color: #3B5C90;
}

.contactsContainer {
  padding-left: 2rem;
  padding-bottom: 100px;
}

.content {
  text-align: justify;
  margin-top: 1rem;
  column-count: 2;
  column-gap: 2rem;
}

.subContanet {
  margin-top: 2rem;
}

.contentNoColumns {
  text-align: justify;
  margin-top: 1rem;
}

.subHeaderStyle {
  letter-spacing: -0.065px;
  font-weight: 800;
  color: #ffffff;
  font-size: 24px;
}

.headerTwoContainer {
  background-color: #05aa5d;
  width: 200px;
  border-radius: 5px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}



.headerThreeContainer {
  background-color: #D41E4A;
  width: 200px;
  border-radius: 5px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
}

.headerContainer {


  width: 150px;
  border-radius: 5px;
  height: 40px;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #FD8A02;
}



@media screen and (max-width: 1300px) {
  .content {
    margin-top: 1rem;
    column-count: 1;
    column-gap: 2rem;
  }


}




@media screen and (min-width: 1300px) {

  .breakPoint {
    display: none;
  }
}