/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.containerMain {
  display: flex;
  flex: 1;
}

.contentWrapper {
  display: flex;
  flex: 1;
  overflow-y: scroll;
  margin-left: 300px;
}

.box1 {
  /* background-color: rgb(200, 200, 200); */
  flex: 5;
}

.contactWrapper {
  flex: 1.5;
}

@media screen and (max-width: 1450px) {
  .contentWrapper {
    flex-direction: column;
  }
  .contactWrapper {
    padding-left: 30px;
    display: flex;
  }
}

@media screen and (max-width: 900px) {
  .contentWrapper {
    flex-direction: column;
    margin-left: 0px;
  }
}

.contactAppWrapper {
  flex: 0.5;
}

.actionAppWrapper {
  flex: 0.5;
}

.shadow1 {
  margin: 40px;
  box-shadow: rgba(226, 226, 226, 0.2) 0px 8px 24px;
  zoom: 1;
}

.shadow1 .content {
  position: relative;
  padding: 100px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.mainWrapper {
  display: flex;
  position: relative;
}