/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

.containerMain {
  /* margin-left: 250px; */
  display: flex;
  flex: 1;
}

.contentWrapper {
  display: flex;
  flex: 1;
}

.box1 {
  /* background-color: rgb(200, 200, 200); */
  flex: 5;
}

.contactWrapper {
  /* background-color: rgb(151, 149, 140); */
  flex: 1.5;
}

/* 
.main {
  transition: margin-left .5s;
  margin-left: 300px;
  margin-left: 300;
  flex-direction: column;
  background-color: #b39797;
} */

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

.shadow1 {
  margin: 40px;
  box-shadow: rgba(226, 226, 226, 0.2) 0px 8px 24px;
  zoom: 1;
}

.shadow1 .content {
  position: relative;
  padding: 100px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
}

.mainWrapper {
  display: flex;
  position: relative;
}