 /* Ripple effect */

 .downloadBtnContainer {
   display: flex;
   background-position: center;
   transition: background 0.1s;
   font-weight: 800;
   font-size: 24rem;
   letter-spacing: -0.04em;
   border: none;
   border-radius: 10px;
   padding: 10px 20px;
   font-size: 16px;
   cursor: pointer;
   color: rgb(20, 20, 20);
   background-color: #ffffff;
   outline: none;
   align-items: center;
   justify-content: center;
   transition: all 0.3s ease;
 }

 .downloadBtnContainer:hover {
   transform: scale(1.05);
 }

 .downloadBtnContainer:active {
   background-color: #bbbbbb;
   background-size: 100%;
   transition: background 0s;
 }

 .downloadIcon {
   margin-right: 20px;
   padding: 10px;
   height: 40px;
   width: 40px;
   border-radius: 5px;
   color: #ffffff;
   background-color: #f0b000;
 }

 @media screen and (max-width: 900px) {
   .downloadBtnContainer {
     display: flex;
     flex: 1;
     width: 100vw;
     height: 60px;
     color: rgb(255, 255, 255);
     background-color: #3B5C90;
     outline: none;
     align-items: center;
     justify-content: center;
     border-radius: 0px;
     margin-left: -20px;
     margin-bottom: -22px;
   }
 }