.header_bar {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background: white;
  -webkit-box-shadow: -8px 14px 21px rgba(0, 0, 0, 0.25);
  box-shadow: -8px 14px 21px rgba(0, 0, 0, 0.25);
}

.header_bar header {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 25px;
  color: black;
  text-align: center;
  user-select: none;
  letter-spacing: -0.065em;
  padding-left: 10px;
}

.regis_bar {
  padding: 20px;
}

.regis_text {
  color: #F6F6F6;
  padding-left: 10px;
}

/* The navigation menu links */

.sidenav {
  overflow-x: hidden;
  position: fixed;
  z-index: 20;
  width: 300px;
  height: 100vh;
  background: #3B5C90;
  transition: all .5s ease;
  overflow: hidden;
  box-shadow: -5px 1px 38px 0px rgba(0, 0, 0, 0.16);
  -webkit-box-shadow: -5px 1px 38px 0px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: -5px 1px 38px 0px rgba(0, 0, 0, 0.16);
}

.sidenav a {
  padding: 8px 8px 8px 50px;
  margin-bottom: 10px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.1s;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
  color: #f1f1f1;
  background-color: #7496CC;
}

.sidenav .navSpan {
  font-family: 'Roboto Condensed' !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
}

/* Position and style the close button (top right corner) */

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Styles are written but not getting applied at the moment */

.navBackground {
  width: 100;
  height: 100;
}

.navBackgroundContainer {
  width: 100;
  height: 100;
}

.appHeader {
  display: none;
  width: 100%;
  height: 70px;
  z-index: 9999;
  background-color: #ffffff;
  position: fixed;
  top: 0px;
  right: 0px;
  padding: 5px 20px 5px 20px;
  box-shadow: 0px 15px 34px -25px rgba(0, 0, 0, 0.43);
  -webkit-box-shadow: 0px 15px 34px -25px rgba(0, 0, 0, 0.43);
  -moz-box-shadow: 0px 15px 34px -25px rgba(0, 0, 0, 0.43);
}

.menuButton {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.1s ease;
  cursor: pointer;
}

.menuButton .logo_img {
  width: 30px;
  height: 30px;
}

.menuButton:active {
  background-color: rgb(236, 236, 236);
  transform: scale(.9);
}

.menuIconStyle {
  color: #7496CC;
}

@media screen and (max-width: 900px) {
  .appHeader {
    align-items: center;
    display: flex;
  }
  .header_bar {
    visibility: hidden;
  }
  .sidenav {
    display: none;
    width: 0px;
    transition: 200ms,
  }
  .expanded {
    display: block;
    width: 100%;
    transition: 0.5s ease;
  }
  .collapsed {
    display: none;
    transition: 0.5s ease;
    width: 0px;
  }
  .logo_img {
    width: 40px;
    /* background-color: #3B5C90; */
  }
  .appHeadingTitle {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
    font-size: 25px;
    color: black;
    text-align: center;
    user-select: none;
    letter-spacing: -0.065em;
    padding-left: 10px;
  }
  .appHeaderContent {
    /* background-color: #7496CC; */
    width: 100%;
    display: flex;
    justify-content: center;
  }
}